<%require 'time'%>

<div class = "menubody">

    <h1>Menu for <%=Time.now.strftime("%A, %b %d")%></h1>
    <div class = "center">
      <ul>
        <% @sections.each do |section| %>
        <li>
          <h2><%= link_to section.name, section_path(section.id)%></h2>
        </li>
          <%=section.description %>
        <ul>
          <% @items.each do |item| %>
            <% if item.menu_section_id == section.id %>
              <li>
                <span class= "item"><%=item.name%></span>, <span class = "description"><%=item.description%></span>, <span class = "price">(<%=item.price%>)</span> <%=item.note%>
              </li>
            <% end %>
          <% end %>
        </ul>
        <% end %>
      </ul>
    </div>
    <h4>20% Service Charge**</h4>
    <p class="notes">
      *Consuming raw, undercooked, or unpasteurized foods may increase your risk of foodborne illness. <br>
      Menu items may contain nuts and other allergens.
      Please let us know if you are allergic to anything.
    </p>
    <p class ="notes">
      ** 100% of this charge is paid to employees. 55% of this charge is paid to employees “directly serving the customer”.
    </p>
    <h4>Thank you for dining at the Walrus and the Carpenter.</h4>
</div>

<div class = "form">

  <% if @section %>
    <ul>
      <% @section.errors.each do |column, error| %>
        <li><%= column %> <%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @section %>
    <ul>
      <% @section.errors.each do |column, error| %>
        <li><%= column %> <%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class = "box">

    <form action="/sections" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div>
        <h4>
          <label for="name-input">Create A Menu Section</label>
        </h4>
        <input type="text" id = "name-input" name="section_name" />
      </div>
      <div>
        <h4>
          <label for="description-input">Section Description(optional)</label>
        </h4>
        <input type="text" id = "description-input" name="section_description" />
      </div>
      <div>
        <input type="submit" />
      </div>
    </form>
    =======
  </div>



</div>


<!-- <form action="/sections" method="DELETE">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <div>
    <h4>
      <label for="name-input">Delete A Menu Section</label>
    </h4>
    <input type="text" id = "name-input" name="section_name" />
  </div>
  <div>
    <input type="submit" />
  </div>
</form> -->
