<div class = "menubody">

  <h1>Edit <%= @drink.name %></h1>

  <% if @drink %>
    <ul>
      <% @drink.errors.each do |column, error| %>
        <li><%= column %> <%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class = "form">

    <form action="/drinks/edit/<%=@drink.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div>
        <h4>
          <label for="name-input">Edit Drink Section</label>
        </h4>
        <input type="text" id = "name-input" name="drink_section_name" value="<%= @drink.name %>" />
      </div>
      <div>
        <h4>
          <label for="description-input">Edit Drink Description (optional)</label>
        </h4>
        <input type="text" id = "description-input" name="drink_section_description" value="<%= @drink.description %>" />
      </div>
      <div class="update">
        <input type="submit" value="Update" />
      </div>
    </form>
  </div>
</div>

<div class = "home">
  <a><%= link_to "Food", sections_path %></a>
  <a><%= link_to "Drinks", drinks_path %></a>
</div>
